<%= form_with(model:@post,local:true) do |form| %>
  <% if @post.errors.any? %>
     <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
         <% @post.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
      </ul>
  <% end %>
     </div>
  <div class="post_title">
     <%= form.label :content %></br>
  </div>
  <div class="post_content">
     <%= form.text_area :content %>
  </div>
  <%= form.submit "呟きを保存する", data: {confirm: "本当に保存してもいいですか？"}%>
  <%= link_to "一覧に戻る", posts_path %>
<% end %>
