<% content_for(:title, 'ツブヤイターする？') %>
<h1>以下の内容でつぶやきます</h1>
<div class="sub-container">
<%= form_with(model:@post, local:true) do |form| %>
	<%= form.hidden_field :content %>

  <p>内容：<%= @post.content %></p>
  <%= form.submit "ツブヤキを登録する" %>
	<%= form.submit "ツブヤキせず戻る", name: 'back' %>
<% end %>
</div>