<h1>呟き一覧</h1>
<%= notice %>

<table>
  <tr>
  <th>呟き</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
     <td><%= post.content %></td>
     <td><%= link_to "確認する", post_path(post.id) %></td>
     <td><%= link_to "編集する", edit_post_path(post.id) %></td>
     <td><%= link_to "削除する", post_path(post.id) %></td>
  </tr>
  <% end %>
</table>