<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
  <header>
    <section class="header">
    <div class="header-logo">
      <%= image_tag '青い鳥.png', size: '120x120', alt: 'ロゴ' %>
    </div>

    <div class="title">
      <h1>ツブヤイター</h1>
    </div>

    <div class="header-logo">
      <%= image_tag '青い鳥.png', size: '120x120', alt: 'ロゴ' %>
    </div>
   </section>
  </header>

  <section class="contents">
    <%= yield %>
  </section>

  <footer>
    <div class="copyright">
      <p>Copyright © t.masa All Rights Reserved.</p>
    </div>
  </footer>
  </div>
</html>
